@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

@font-face{
    font-family: Agutina;
    src: url("Agutina400.otf") format("opentype");
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bx-moon{
    font-size: 1.5rem;
}

.change-theme{
    cursor: pointer;
    transition: .3s;
}

.change-theme:hover{
    /* color: #130F40; */
    color: rgb(12, 11, 11);
}

.logo{
    font-weight: bold;
}

.button{
    background-color: #130F40;
    /* margin: 10px; */
    padding: .8rem;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

.button:hover{
    color: #fff;
    cursor: pointer;
}

.cheat{
    background-color: #EA2027;
}

.logo-link{
    color: black;
    text-decoration: none;
}

.logo-link:hover{
    color: #2F3640;
    transition: ease-in .2s;
}

.post-link{
    text-decoration: none;
    color: #00D2D3;
}
.post-link:hover{
    text-decoration: none;
    /* color: #48DBFB; */
    color: #4affff;
}

.btn-container .btn {
    text-decoration: none;
    color: white !important;
    padding: 8px 12px;
    border-style: none;
    border-radius: 10px;
    transition: all ease .3s;
}

.btn-container .red {
    background-color: #EA2027;
}

.btn-container .red:hover {
    background-color: #e02127 !important;
}

.btn-container .blue {
    background-color: #130F40;
}

.btn-container .blue:hover {
    background-color: #23204d !important;
}

@media only screen and (max-width: 480px) {
    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-container .btn {
        margin: 2px;
    }
}