@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    font-family: var(--font-fallback);
    box-sizing: border-box;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0
}

:root{
    --body-background-color: #ffffff;
    --color-theme-icon: #eec413;
    --color-primary: #ffffff;
    --main-heading:#000000;
    --post-link: #008888;
    --post-link-hover: #007474;
    --card-body-color: #000000;
    --card-body-bg: #ffffff;
    --font-fallback: -apple-system,"BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",system-ui,sans-serif
}
:root.theme--night{
    --body-background-color: #000000;
    --color-theme-icon: #e684af;
    --color-primary: #000000;
    --main-heading:#f5f5f5;
    --post-link: #00D2D3;
    --post-link-hover: #4affff;
    --card-body-color: #ffffff;
    --card-body-bg: #111111;
    --font-fallback: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

@font-face{
    font-family: Agutina;
    src: url("Agutina400.otf") format("opentype");
}

body{
    background-color: var(--body-background-color) !important;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 span{
    color: var(--main-heading);
    margin-left: 5px;
}

.logo{
    font-weight: bold;
}

.button{
    background-color: #130F40;
    /* margin: 10px; */
    padding: .8rem;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

.button:hover{
    color: #fff;
    cursor: pointer;
}

.logo-link{
    color: var(--main-heading);
    text-decoration: none;
    transition: all ease-in-out .3s;
}

code{
    color: #d63384 !important;
}

.logo-link:hover{
    color: #f03c2e;
}

.post-link{
    text-decoration: none;
    color: var(--post-link);
    transition: all ease-in-out .2s;
}
.post-link:hover{
    text-decoration: none;
    /* color: #48DBFB; */
    color: var(--post-link-hover);
}

.btn-container .btn {
    text-decoration: none;
    color: white !important;
    padding: 8px 12px;
    border-style: none;
    border-radius: 10px;
    transition: all ease .3s;
}

.btn-container .red {
    background-color: #EA2027;
}

.btn-container .red:hover {
    background-color: #e02127 !important;
}

.btn-container .blue {
    background-color: #130F40;
}

.btn-container .blue:hover {
    background-color: #23204d !important;
}

@media only screen and (max-width: 480px) {
    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-container .btn {
        margin: 2px;
    }
}

.card-dark-mode{
    background-color: var(--card-body-bg) !important;
    color: var(--card-body-color) !important;
}


/* Theme Icons Styling and Animation */
.theme-toggle {
    height: 37px;
    width: 37px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggle .sun {
    background: var(--color-theme-icon);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid var(--color-primary)
}

.theme-toggle .sun__ray {
    width: 2px;
    background: var(--color-theme-icon);
    display: block;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: .4s all, height .3s ease-in-out
}

.theme-toggle .sun__ray:nth-child(1) {
    transform: rotate(calc(1 * calc(360deg / 12)))
}

.theme-toggle .sun__ray:nth-child(2) {
    transform: rotate(calc(2 * calc(360deg / 12)))
}

.theme-toggle .sun__ray:nth-child(3) {
    transform: rotate(calc(3 * calc(360deg / 12)))
}

.theme-toggle .sun__ray:nth-child(4) {
    transform: rotate(calc(4 * calc(360deg / 12)))
}

.theme-toggle .sun__ray:nth-child(5) {
    transform: rotate(calc(5 * calc(360deg / 12)))
}

.theme-toggle .sun__ray:nth-child(6) {
    transform: rotate(calc(6 * calc(360deg / 12)))
}

.theme-toggle .sun__ray:nth-child(7) {
    transform: rotate(calc(7 * calc(360deg / 12)))
}

.theme-toggle .sun__ray:nth-child(8) {
    transform: rotate(calc(8 * calc(360deg / 12)))
}

.theme-toggle .sun__ray:nth-child(9) {
    transform: rotate(calc(9 * calc(360deg / 12)))
}

.theme-toggle .sun__ray:nth-child(10) {
    transform: rotate(calc(10 * calc(360deg / 12)))
}

.theme-toggle .sun__ray:nth-child(11) {
    transform: rotate(calc(11 * calc(360deg / 12)))
}

.theme-toggle .sun__ray:nth-child(12) {
    transform: rotate(calc(12 * calc(360deg / 12)))
}

.theme-toggle:hover .sun__ray:nth-child(1) {
    transform: rotate(calc((1 * calc(360deg / 12)) - 20deg))
}

.theme-toggle:hover .sun__ray:nth-child(2) {
    transform: rotate(calc((2 * calc(360deg / 12)) - 20deg))
}

.theme-toggle:hover .sun__ray:nth-child(3) {
    transform: rotate(calc((3 * calc(360deg / 12)) - 20deg))
}

.theme-toggle:hover .sun__ray:nth-child(4) {
    transform: rotate(calc((4 * calc(360deg / 12)) - 20deg))
}

.theme-toggle:hover .sun__ray:nth-child(5) {
    transform: rotate(calc((5 * calc(360deg / 12)) - 20deg))
}

.theme-toggle:hover .sun__ray:nth-child(6) {
    transform: rotate(calc((6 * calc(360deg / 12)) - 20deg))
}

.theme-toggle:hover .sun__ray:nth-child(7) {
    transform: rotate(calc((7 * calc(360deg / 12)) - 20deg))
}

.theme-toggle:hover .sun__ray:nth-child(8) {
    transform: rotate(calc((8 * calc(360deg / 12)) - 20deg))
}

.theme-toggle:hover .sun__ray:nth-child(9) {
    transform: rotate(calc((9 * calc(360deg / 12)) - 20deg))
}

.theme-toggle:hover .sun__ray:nth-child(10) {
    transform: rotate(calc((10 * calc(360deg / 12)) - 20deg))
}

.theme-toggle:hover .sun__ray:nth-child(11) {
    transform: rotate(calc((11 * calc(360deg / 12)) - 20deg))
}

.theme-toggle:hover .sun__ray:nth-child(12) {
    transform: rotate(calc((12 * calc(360deg / 12)) - 20deg))
}

.moon {
    height: 28px;
    width: 28px;
    position: absolute;
    background: var(--color-primary);
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: scale(0) translate(25%, -25%);
    z-index: 9;
    transition: .4s transform;
    transform-origin: right
}

.theme--night .theme-toggle {
    background-color: var(--color-primary)
}

.theme--night .theme-toggle:hover .moon {
    transform: scale(1) translate(-3%, -18%)
}

.theme--night .moon {
    transform: scale(1) translate(11%, -11%)
}

.theme--night .theme-toggle .sun__ray {
    height: 0;
    transition: .4s, transform .4s, height .2s .1s
}

.theme--night .theme-toggle .sun__ray:nth-child(1) {
    transform: rotate(calc((1 * calc(360deg / 12)) - 45deg))
}

.theme--night .theme-toggle .sun__ray:nth-child(2) {
    transform: rotate(calc((2 * calc(360deg / 12)) - 45deg))
}

.theme--night .theme-toggle .sun__ray:nth-child(3) {
    transform: rotate(calc((3 * calc(360deg / 12)) - 45deg))
}

.theme--night .theme-toggle .sun__ray:nth-child(4) {
    transform: rotate(calc((4 * calc(360deg / 12)) - 45deg))
}

.theme--night .theme-toggle .sun__ray:nth-child(5) {
    transform: rotate(calc((5 * calc(360deg / 12)) - 45deg))
}

.theme--night .theme-toggle .sun__ray:nth-child(6) {
    transform: rotate(calc((6 * calc(360deg / 12)) - 45deg))
}

.theme--night .theme-toggle .sun__ray:nth-child(7) {
    transform: rotate(calc((7 * calc(360deg / 12)) - 45deg))
}

.theme--night .theme-toggle .sun__ray:nth-child(8) {
    transform: rotate(calc((8 * calc(360deg / 12)) - 45deg))
}

.theme--night .theme-toggle .sun__ray:nth-child(9) {
    transform: rotate(calc((9 * calc(360deg / 12)) - 45deg))
}

.theme--night .theme-toggle .sun__ray:nth-child(10) {
    transform: rotate(calc((10 * calc(360deg / 12)) - 45deg))
}

.theme--night .theme-toggle .sun__ray:nth-child(11) {
    transform: rotate(calc((11 * calc(360deg / 12)) - 45deg))
}

.theme--night .theme-toggle .sun__ray:nth-child(12) {
    transform: rotate(calc((12 * calc(360deg / 12)) - 45deg))
}
